<h2>Here login-page</h2>

<form formgroup="loginForm" ngSubmit="onSubmit(loginForm.value)">
    <div>
        <label>Username</label>
        <input formControlName="username" placeholder="username" type="text">
    </div>
    <div>
        <label>Password</label>
        <input formControlName="password" placeholder="pasword" type="password">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">
            Login
        </button>
        <a class="btn btn-link">Register</a>
    </div>
</form>